{% extends "base.html" %}

{% block title %}Logout - Ticksy ToDo{% endblock %}

{% block content %}


<div class="auth-container">
    <h2 class="lobster-regular">Sign Out</h2>
    
    <p>Are you sure you want to sign out?</p>
    
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn-primary">
            <i class="fas fa-sign-out-alt"></i> Sign Out
        </button>
        <a href="{% url 'home' %}" class="btn-secondary">
            <i class="fas fa-arrow-left"></i> Cancel
        </a>
    </form>
</div>


{% endblock %}