<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticksy ToDo</title>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <header>
         <nav class="top-nav">
    <a href="./" class="header-logo">
            <img src="./images/tricksy-logo-sm.png" alt="Trickys logo" />
            <div class="logo-text lobster-regular">Ticksy</div>
    </a>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li><a href="./">Home</a></li>
      <li><a href="./">Login</a></li>
      <li><a href="./">Register</a></li>
    </ul>
</nav>
    </header>

    <main>
        <section class="bg-colour1">
            <div class="standard-section">
                <div class="hero-section">
                    <img src="./images/generate a hero imag.png" alt="This is an image of a man completing a task" class="hero-img" />
                    <div class="hero-text">
                        <h1 class="lobster-regular">Welcome To Ticksy</h1>
                        <h2>Organising your work life ballance</h2>
                        <p>Mange you day to day tasks with wour superb new software, Ticksy todo</p>
                    </div>
                </div>
            </div>
            
        </section>
        <section class="bg-colour2">
            <div class="standard-section">
                <div class="triplet-section">
                    This is where you add your 3 items
                </div>
            </div>
            
        </section>

    </main>
    <footer>

    </footer>

</body>
</html>